/* .dashboard {
  display: flex;
  height: 100vh;
}

.sidebar {
  width: 180px;
  height: 100%;
  background-color: #1e1e1e; 
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.content {
  flex: 1;
  padding: 20px;
  overflow-y: auto; 
}

.sidebar nav ul {
  list-style-type: none;
  padding: 0;
}

.sidebar nav ul li {
  margin-bottom: 10px;
}

.sidebar nav ul li a {
  text-decoration: none;
  color: grey; 
}

.sidebar nav ul li a:hover {
  color: black;
} */


.dashboard {
  display: flex;
  height: 100vh;
  overflow: hidden;
}

.dashboard-container {
  border-radius: 0; 
}

.sidebar {
  width: 250px;
  background-color: #1e1e1e;
  padding: 20px;
  color: white;
}

.sidebar nav ul {
  list-style-type: none;
  padding: 0;
}

.sidebar nav ul li {
  margin: 10px 0;
}

.sidebar nav ul li a {
  color: grey;
  padding-left: 15px;
  display: block;
  padding: 10px 0;
  transition: color 0.3s;
}

.sidebar nav ul li a:hover {
  color: white;
}

.content {
  flex-grow: 1;
  padding: 20px;
  background-color: #fff;
  overflow-y: auto;
  border-radius: 0 50px 50px 0;
}

h1 {
  margin: 0;
  padding-bottom: 20px;
  font-size: 24px;
}
